@charset "UTF-8";

@media only screen and (min-width: 769px) {

/******************************************
 ヘッダー
******************************************/

#head {
	width: 1000px;
	margin: 0 auto 30px auto;
}

#head:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#head-l {
	width: 500px;
	float: left;
	padding-top: 30px;
}

#logo {
	width: 500px;
	text-align: left;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
}

#logodisc {
	width: 500px;
	text-align: left;
}

#logodisc h1 {
}

#head-r {
	width: 500px;
	float: right;
	padding-top: 30px;
}

#head-r:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#head-r ul {
	float: right;
}

#head-r ul li {
	float: left;
	margin-left: 20px;
}

#head-r ul li a {
	padding: 5px 8px;
	display: block;
	background-color: #F8F8FF;
	color: #000;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font-size: 13px;
}

#head-r ul li a:hover {
	background-color: #000;
	color: #fff;
}


/******************************************
 グローバルメニュー
******************************************/

#globalbg {
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#global {
	width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #000;
}

#global:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#global ul {
}

#global ul li {
	float: left;
	width: 19%;
	font-weight: bold;
}

#global ul li a {
	display: block;
	background-color: #000;
	color: #fff;
	border-right: 1px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

#global ul li a:hover {
	border-right: 1px solid #000;
	background-color: #fff;
	color: #000;
}

#global ul li#now a {
	display: block;
	color: #000;
	background-color: #fff;
	border-right: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

#global ul li#now a:hover {
	color: #000;
	background-color: #fff;
	border-right: 1px solid #000;
}


/******************************************
 パンくず
******************************************/

#pankuzu {
	width: 100%;
	background-color: #add8e6;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#plink {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	font-size: 13px;
}



#foot_pan {
	width: 100%;
	background-color: #efefef;
	padding-top: 3px;
	padding-bottom: 3px;
}

#foot_pan_link {
	width: 1000px;
	margin: 0 auto;
}

#foot_pan_link:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#foot_pan_link ul {
}

#foot_pan_link ul li {
	float: left;
	text-align: left;
}

#foot_pan_link ul li a {
	margin-right: 10px;
	position: relative;
	padding-right: 8px;
	display: block;
}

#foot_pan_link ul li a:after {
	content:">";
	font-size:100%;
	line-height: 1em;
	font-family:"ＭＳ Ｐゴシック",sans-serif;
	color:#999;
	position:absolute;
	right:-5px;
	top: 3px;
	display: block;
}


/******************************************
 メイン画像
******************************************/

#main {
	width: 100%;
}

/******************************************
 メインコンテンツフレーム
******************************************/

#maincontents {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}

#maincontents:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#cen {
	float: left;
	width: 700px;
}

#ri {
	width: 280px;
	float: right;
	margin-bottom: 30px;
}


/******************************************
 ライトメニュー
******************************************/

.side {
	width: 280px;
	margin: 0 auto 15px auto;
}

.menubox {
	width: 280px;
}

.menuboxttl {
	width: 280px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #efefef;
}

.menuboxttl h4 {
	padding-left: 8px;
	font-weight: bold;
	text-align: left;
}

.menulink {
	width: 280px;
}

.menulink_a {
	text-align: left;
	text-indent: 10px;
	border-bottom: 1px solid #ccc;
}

.menulink_a a {
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
}

.menulink_a a:hover {
	background-color: #efefef;
}

.menulink_a#ac a {
	background-color: #ffffee;
}

/******************************************
 フッター
******************************************/

#foot {
	width: 100%;
	background-color: #add8e6;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 30px;
	padding-bottom: 30px;
}

#flink {
	width: 1000px;
	margin: 0 auto 0 auto;
}

#flink:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.flinkw {
	width: 20%;
	float: left;
}

.flinkw ul {

}

.flinkw ul li {
	background-image: url(/column/web/161117/01/img/flinkicon.gif);
	background-position: left center;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 25px;
	text-align: left;
}

.flinkbnr {
	width: 220px;
	float: right;
	text-align: right;
}

#footdisc {
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

#footdisc h4 {
}

#footad {
	width: 100%;
	background-color: #151515;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
}

#footad address {

}


/******************************************
 ページトップ
******************************************/

#pagetop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 11px;
}

#pagetop a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 80px;
	padding: 15px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}

#pagetop a:hover {
	text-decoration: none;
	background: #999;
}

}
